.app {
  background-color: var(--white-color);
  font-family: var(--font-base);
}

.container {
  min-height: calc(100vh - 75px);
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: var(--coral-color);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 4px;
  }
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}
